.anz-center{
  text-align: center;
}


.anz-red-boarder {
  border: 3px solid #e11f33;
  border-radius: 26px;
  width: 100%;
  margin: 33px 0px;
  position: relative;
  padding: 20px; }
  .anz-red-boarder .anz-title {
    font-size: 20px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    display: block;
    margin-bottom: 17px; }
  .anz-red-boarder .anz-text {
    font-family: "OpenSans-Regular";
    font-size: 16px;
    display: block;
    line-height: 25px; }
    .anz-red-boarder .anz-text strong {
      color: #9e1725; }
  .anz-red-boarder .anz-subtext {
    font-family: "OpenSans-Italic";
    color: #9e1725;
    font-size: 12px;
    display: block;
    line-height: 19px; }
  .anz-red-boarder .anz-subtext_margin {
    margin-top: 10px; }

.anz-red-boarder2:after {
  content: "";
  position: absolute;
  top: -38px;
  left: 0px;
  background: url(../img/ribbon.png) no-repeat top left;
  width: 110px;
  height: 117px; }

.anz-table {
  width: 100%;
  height: 143px;
  position: relative; }
  .anz-table img {
    position: absolute;
    bottom: 0px;
    left: 0px; }

.anz-item, .anz-item2 {
  margin-top: 117px;
  width: 100%;
  background: #ffc72c;
  position: relative;
  text-align: center; }
  .anz-item img, .anz-item2 img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 8px)); }
  .anz-item .anz-main, .anz-item2 .anz-main {
    font-family: "OpenSans-Regular";
    font-size: 20px;
    line-height: 47px;
    text-transform: uppercase; }
  .anz-item .anz-second, .anz-item2 .anz-second {
    font-family: "OpenSans-Bold";
    font-size: 14px;
    line-height: 20px;
    padding: 13px 0px;
    display: block; }

.anz-item2 {
  height: 65px; }

.anz-item-right {
  border-bottom-right-radius: 26px; }

.anz-item-left {
  border-bottom-left-radius: 26px; }
  .anz-item-left img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, calc(-100% - 20px)); }

.anz-red-boarder2 {
  border: 3px solid #e11f33;
  border-radius: 26px;
  width: 100%;
  position: relative; }
  .anz-red-boarder2 .row {
    margin: 0px !important; }
  .anz-red-boarder2 div[class^="col"] {
    padding: 0px !important; }

.anz-red-boarder2_margin1 {
  margin-top: 100px; }

.anz-red-boarder2_margin2 {
  margin-top: 119px; }

.anz-item2 {
  height: 65px; }

.yellow_margin {
  margin: 50px; }

.yellow {
  width: 900px;
  height: 900px;
  background: green;
  padding: 50px; }

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none; }

.window {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 315px;
  display: none;
  z-index: 9998; }

.transparent-border {
  border-radius: 37px;
  border: 12px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  max-width: 594px;
  box-shadow: 10px 17px 30px rgba(0, 0, 0, 0.5); }

.anz-scroll {
  height: 485px;
  margin-bottom: 25px;
  padding: 15px 0px 15px 41px;
  overflow: auto; }

.pop-info {
  background: white;
  width: 100%;
  border-radius: 25px;
  overflow: hidden; }
  .pop-info .anz-header {
    display: block;
    position: relative;
    background: url(../img/red_bg.png);
    color: #fff;
    font-size: 20px;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
    padding: 30px 10px 18px 37px; }
    .pop-info .anz-header .an-exit__krest {
      position: absolute;
      width: 11px;
      height: 10px;
      top: 20px;
      right: 11px;
      background: url(../img/krest.png) no-repeat top left;
      cursor: pointer; }
  .pop-info .anz-title_margin {
    margin-top: 22px; }
  .pop-info .anz-title {
    color: #000;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    display: block; }
  .pop-info li {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    position: relative;
    margin-left: 36px;
    line-height: 22px; }
  .pop-info li:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -17px;
    width: 5px;
    height: 5px;
    background: url(../img/point.png) no-repeat top left; }
  .pop-info i {
    font-family: "OpenSans-Italic"; }

.footer__style {
  margin-top: 250px;
  color: #000;
  background: transparent !important;
  font-family: "OpenSans-Regular"; }
  .footer__style img {
    margin: 5px; }
  .footer__style .footer-info {
    border-left: 1px solid #000;
    padding-left: 18px;
    box-sizing: border-box;
    font-family: "OpenSans-Regular"; }

div.dataTables_paginate {
  float: inherit !important;
  margin: 30px auto !important;
  width: 100%; }

// .pagination > li > a {
//   display: inline-block !important;
//   color: #970615 !important;
//   font-size: 16px !important;
//   border: 1px solid #970615 !important;}
// /*   -moz-border-radius: 16px !important;
//   -webkit-border-radius: 16px !important;
//   margin-right: 45px !important;
//   border-radius: 16px !important;
//   padding: 4px 14px !important; } */

// .pagination > .disabled > a {
//   display: inline-block !important;
//   color: #970615 !important;
//   font-size: 16px !important;
//   color: #cb828a !important;
//   border: 1px solid #cb828a !important;
//   -moz-border-radius: 16px !important;
//   -webkit-border-radius: 16px !important;
//   border-radius: 16px !important;
//   margin-right: 45px !important;
//   padding: 4px 14px !important; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .sm-display-inline-block {
    display: inline-block; }

  .footer__style {
    margin-top: 200px;
    color: #000;
    background: transparent !important; }
    .footer__style img {
      margin: 5px; }
    .footer__style .footer-info {
      padding-top: 10px;
      border-left: 0px solid #000;
      padding-left: 0px;
      box-sizing: border-box; }

  .anz-item, .anz-item2 {
    margin-top: 170px; }
    .anz-item img, .anz-item2 img {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, calc(-100% - 8px)); }

  .anz-item-right {
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px; }

  .anz-item-left {
    border-bottom-left-radius: 0px; }
    .anz-item-left img {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, calc(-100% - 20px)); }

  .anz-item2 {
    height: inherit;
    margin-top: 210px; }

  .anz-table {
    width: 100%;
    height: 143px;
    position: relative; }
    .anz-table img {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0); } }

@media only screen and (max-width: 768px) {
  .anz-scroll {
    height: 300px;
    margin-bottom: 25px;
    padding: 15px 0px 15px 21px;
    overflow: auto; }

  .pop-info .anz-header {
    padding: 30px 0px 18px 0px;
    text-align: center; }
 
}