html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

body {
  font-family: 'Open Sans' , arial;
  font-size: 16px; }

html, body {
  height: 100%;
  width: 100%; }

.center {
  text-align: center;
  margin: 0 auto; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.header-top {
  width: 100%;
  min-height: 100px;
  background: url(../img/header_bg.png) repeat-x top center;
  position: relative; }

.main-menu {
  padding-top: 40px;
  float: left; }
  .main-menu li {
    display: inline-block;
    margin-right: 35px; }
    .main-menu li a {
      color: #fff;
      font-size: 15px;
      font-family: 'Open Sans', arial;
      text-decoration: underline; }
    .main-menu li a:hover {
      text-decoration: none;
      color: #cea3a5; }
  .main-menu li:last-child {
    margin-right: 0px; }
  .main-menu li .active a {
    text-decoration: none;
    color: #cea3a5; }

.hz-top-form {
  text-align: center;
  float: right;
  width: 38%;
  display: table;
  padding-top: 30px; }
  .hz-top-form input, .hz-top-form .hz-top-form__links {
    display: inline-block; }
  .hz-top-form input {
    outline: none; }
  .hz-top-form input[type="text"],.hz-top-form input[type="phone"],.hz-top-form input[type="password"] {
    width: 118px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none;
    font-family: 'Open Sans', arial;
    font-size: 12px;
    color: #cea3a5;
    padding: 0px 20px;
    box-sizing: border-box; }
  .hz-top-form input[type="submit"] {
    display: inline-block;
    width: 67px;
    height: 34px;
    line-height: 32px;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none;
    font-family: 'Open Sans Bold', arial;
    font-size: 12px;
    color: #fff;
    box-sizing: border-box; }
  .hz-top-form .hz-top-form__links {
    text-align: left;
    width: 120px;
    line-height: 18px !important;
    position: relative; }
    .hz-top-form .hz-top-form__links a {
      color: #fff;
      font-size: 11px;
      text-decoration: underline;
      padding-left: 8px; }
  .hz-top-form .hz-top-form__links:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 35px;
    background: #c16a73;
    top: 5px; }
  .hz-top-form .fcol {
    display: table-cell;
    vertical-align: middle; }

.logo-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 45px;
  z-index: 700; }

@keyframes shadow1 {
  from {
    left: -310px; }
  to {
    left: 0px; } }
@keyframes shadow2 {
  from {
    left: 0px; }
  to {
    left: -310px; } }
#check_1 {
  display: none; }

#check_1:checked ~ .menu-list-pressed {
  animation: shadow1  1s 1 ease-in-out;
  left: 0px; }

#check_1 ~ .menu-list-pressed {
  animation: shadow2  0s 1 ease-in-out;
  left: -310px; }

#check_1 ~ .anz-menu-ch .fa-bars {
  display: block; }

#check_1 ~ .anz-menu-ch .fa-times {
  display: none; }

#check_1:checked ~ .anz-menu-ch .fa-bars {
  display: none; }

#check_1:checked ~ .anz-menu-ch .fa-times {
  display: block; }

.menu-list-pressed {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0px;
  z-index: 1000;
  color: #fff;
  background: #ad172b; }

.anz-menu {
  cursor: pointer;
  font-size: 28px; }

.anz-menu-krest {
  position: absolute;
  display: block;
  cursor: pointer;
  right: 5px;
  top: 5px;
  outline: 10px solid red; }

.anz-menu-ch {
  color: #fec524;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 38px; }

/***************/
.header-middle {
  width: 100%;
  padding: 16px 0px;
  min-height: 100px;
  background: #fff;
  position: relative;
  -moz-box-shadow: 1.5px 2.6px 9px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 1.5px 2.6px 9px rgba(0, 0, 0, 0.37);
  box-shadow: 1.5px 2.6px 9px rgba(0, 0, 0, 0.37);
  z-index: 500; }
  .header-middle .col-md-5 {
    padding: 0px 30px; }

.hz-clock {
  background: url(../img/watch_ico.png) right center no-repeat;
  padding-right: 60px;
  text-align: right; }

.hz-tel {
  background: url(../img/tel_ico.png) left center no-repeat;
  padding-left: 60px;
  text-align: left; }

.hz-action {
  color: #970615;
  font-family: 'Open Sans', arial;
  font-size: 15px; }
  .hz-action span {
    display: inline-block; }
  .hz-action strong {
    color: #970615;
    font-size: 20px;
    font-family: 'Open Sans Bold' , arial; }

.header-bottom {
  width: 100%;
  min-height: 481px;
  background: url(../img/header_bottom.png) no-repeat top center;
  z-index: 50;
  margin-top: -10px;
  position: relative; }
  .header-bottom .votpusk {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0); }
    .header-bottom .votpusk img {
      display: block;
      width: 100%;
      height: auto;
      max-width: 565px; }
  .header-bottom .container {
    position: relative; }
  .header-bottom .rline {
    width: 100%;
    height: 1px;
    background: #ad172b;
    position: absolute;
    left: 0px;
    margin-top: 335px; }
  .header-bottom h1 {
    display: inline-block;
    position: absolute;
    padding: 5px 45px;
    background: #ad172b;
    margin-top: 310px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    color: #fff;
    font-family: 'Open Sans Bold' , arial;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 26px; }

.faq-row {
  margin-bottom: 16px;
  text-align: left; }
  .faq-row .faq-answer {
    width: 100%;
    border-radius: 25px;
    border: 5px solid #e22034;
    padding: 15px 45px;
    color: #970615;
    font-size: 16px;
    font-family: 'Open Sans Bold' , arial;
    line-height: 22px;
    box-shadow: 5px 8.7px 10px rgba(0, 0, 0, 0.3);
    position: relative; }
  .faq-row .faq-answer:after {
    position: absolute;
    content: "";
    width: 45px;
    height: 53px;
    background: url(../img/ans_after.png) no-repeat top center;
    top: 10px;
    right: -43px; }
  .faq-row .faq-answer:before {
    position: absolute;
    content: "";
    width: 26px;
    height: 21px;
    background: url(../img/ans_before.png) no-repeat top center;
    top: 18px;
    left: 10px; }
  .faq-row .faq-question {
    width: 100%;
    line-height: 22px;
    color: #000;
    font-family: 'Open Sans', arial;
    border: 1px solid #970615;
    font-size: 16px;
    border-radius: 25px;
    padding: 20px; }
    .faq-row .faq-question ul li {
      background: url(../img/list_dot.png) no-repeat left center;
      padding-left: 11px;
      margin-left: 20px; }
  .faq-row span.date {
    display: inline-block;
    color: #970615;
    font-size: 16px;
    font-family: 'Open Sans' , arial;
    display: block;
    margin-bottom: 10px; }

.wdate .faq-answer:before {
  top: 50px !important; }

.inner-page {
  width: 100%;
  padding-bottom: 100px;
  margin-top: -80px;
  z-index: 999;
  min-height: 350px;
  position: relative; }

.footer {
  width: 100%;
  background: url(../img/header_bg.png) repeat-x top center;
  position: relative;
  color: #e3cccd;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Open Sans Bold' , arial;
  padding: 25px 0px;
  background-size: cover; }
  .footer img {
    margin: 5px; }

.footer-info {
  border-left: 1px solid #ba3f4c;
  padding-left: 18px;
  box-sizing: border-box; }

.footer-main {
  width: 100%;
  outline: 10px solid red;
  color: #e3cccd;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Open Sans Bold' , arial;
  padding: 25px 0px;
  background: none; }

.footer-info-main {
  border-left: 1px solid #ba3f4c;
  padding-left: 18px;
  box-sizing: border-box; }

.winner-posik {
  padding: 30px;
  background: url(../img/red_bg.png);
  color: #fff;
  border-radius: 25px; }
  .winner-posik form {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .winner-posik .w-col-1 {
    font-size: 16px;
    line-height: 22px; }
  .winner-posik input[type="text"] {
    height: 44px;
    line-height: 44px;
    border: 1px solid #979797;
    border-radius: 6px;
    color: #000;
    padding: 0px 10px;
    width: 270px;
    outline: none; }
  .winner-posik input[type="submit"] {
    height: 44px;
    line-height: 44px;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 0px 10px;
    width: 160px;
    background: no-repeat;
    outline: none;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans Bold' , arial;
    padding-left: 35px; }
  .winner-posik .w-col-3 label {
    display: inline-block;
    position: relative; }
  .winner-posik .w-col-3 label:before {
    position: absolute;
    content: "";
    width: 22px;
    height: 17px;
    background: url(../img/finger.png) no-repeat top center;
    top: 15px;
    left: 25px; }

.hz-table {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px; }
  .hz-table th {
    font-size: 18px;
    color: #000;
    font-family: 'Open Sans Bold' , arial;
    text-align: left;
    padding: 7px 0px; }
  .hz-table td {
    color: #1a1a1a;
    font-family: 'Open Sans' , arial;
    font-size: 16px;
    padding: 18px 0px;
    text-align: left; }
  .hz-table tr:nth-child(2n) {
    background: #ffc72c; }
    .hz-table tr:nth-child(2n) td {
      border-bottom: 1px solid #c19825;
      border-top: 1px solid #c19825; }
  .hz-table td:first-child, .hz-table th:first-child {
    padding: 0px 18px; }
  .hz-table tr:nth-child(2) td {
    border-top: 2px solid #c19825; }
  .hz-table tr:first-child th {
    border-bottom: 1px solid #fbf4e3; }

.w-next {
  display: inline-block;
  color: #970615;
  font-size: 16px;
  border: 1px solid #970615;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  padding: 4px 14px; }

.w-prev {
  display: inline-block;
  color: #970615;
  font-size: 16px;
  color: #cb828a;
  border: 1px solid #cb828a;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  margin-right: 45px;
  padding: 4px 14px; }

/** TABS */
.tabs {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.tabs > a {
  display: inline-block;
  line-height: 45px;
  height: 30px;
  border-bottom: 1px dotted #21adfe;
  color: #21adfe;
  vertical-align: middle;
  text-decoration: none;
  font-family: "PT_Sans-Web-Regular";
  font-size: 16px;
  text-align: center; }

.tabs__margin {
  margin-top: 15px; }

.tabs label {
  color: #999999;
  cursor: pointer;
  display: inline-block;
  height: 46px;
  padding: 0 28px;
  line-height: 42px;
  position: relative;
  text-align: center;
  background: none;
  border-radius: 3px;
  margin: 10px 3px 0 0;
  font-size: 16px;
  color: #8c0513;
  font-family: 'Open Sans' , arial;
  vertical-align: middle;
  border-radius: 6px;
  border: 2px solid #ffc72c; }

.tabs label:hover {
  background: #ebe7bc; }

.tabs input {
  position: absolute;
  left: -9999px; }

#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3,
#tab_4:checked ~ #tab_l4 {
  background: #ffc72c;
  position: relative;
  top: 100;
  z-index: 3;
  color: #744332; }

#tab_1:checked ~ #tab_l1:before,
#tab_2:checked ~ #tab_l2:before,
#tab_3:checked ~ #tab_l3:before,
#tab_4:checked ~ #tab_l4:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #ffc72c;
  left: 50%;
  transform: translate(-50%, 0);
  top: 36px; }

.tabs_cont {
  position: relative;
  z-index: 2; }

.tabs_cont__margin {
  margin-top: 50px; }

.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  font-size: 0;
  display: none; }
/*   .tabs_cont > div div:nth-child(4n) {
    margin-right: 0; } */

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4 {
  position: static;
  left: 0;
  opacity: 1;
  font-size: 12px;
  display: block; }

.an-content__margin {
  margin: 0 20px 20px 0; }

.an-content {
  display: inline-block;
  width: 260px; }
  .an-content a {
    display: block;
    font-family: "PT_Sans-Web-Bold";
    font-size: 18px;
    color: #0086ee;
    margin-top: 9px; }
  .an-content span {
    display: block;
    color: #bababa;
    font-size: 14px;
    font-family: "PT_Sans-Web-Regular";
    margin-top: 7px; }
  .an-content span:last-child {
    display: block;
    color: #000;
    font-size: 15px;
    font-family: "PT_Sans-Web-Bold";
    margin: 1px 0 0 2px; }

/** END TABS */
.lreg {
  display: inline-block;
  background: url(../img/reg.png) left center no-repeat;
  padding-left: 25px; }

.lusr {
  display: inline-block;
  background: url(../img/usr.png) left center no-repeat;
  padding-left: 25px; }

.lqst {
  display: inline-block;
  background: url(../img/qst.png) left center no-repeat;
  padding-left: 25px; }

.lpriz {
  display: inline-block;
  background: url(../img/priz.png) left center no-repeat;
  padding-left: 25px; }

.lk-posik {
  padding: 30px;
  background: url(../img/red_bg.png);
  color: #fff;
  border-radius: 25px; }
  .lk-posik div {
    display: block !important; }
  .lk-posik form {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between; }
  .lk-posik .w-col-1 {
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans Bold' , arial;
    width: 20%;
    padding-top: 5px; }
  .lk-posik .w-col-2 {
    width: 60%;
    text-align: left; }
    .lk-posik .w-col-2 span {
      display: inline-block;
      margin-top: 12px;
      font-family: 'Open Sans Bold Italic', arial;
      font-size: 12px;
      color: #c58e91; }
  .lk-posik .w-col-3 {
    width: 20%; }
  .lk-posik input[type="text"] {
    height: 44px;
    line-height: 44px;
    border: 1px solid #fff !important;
    border-radius: 6px;
    color: #000;
    padding: 0px 10px;
    width: 100%;
    outline: none;
    display: inline-block !important;
    position: static !important;
    background: #8c0513;
    color: #fff; }
  .lk-posik input[type="submit"] {
    height: 44px;
    line-height: 44px;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 0px 10px;
    width: 160px;
    background: no-repeat;
    outline: none;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px !important;
    font-family: 'Open Sans Bold' , arial;
    padding-left: 35px !important;
    display: inline-block !important;
    position: static !important;
    background: none !important;
    color: #fff;
    margin-top: -20px !important; }
  .lk-posik .w-col-3 {
    padding: 0px !important; }
    .lk-posik .w-col-3 label {
      display: inline-block;
      position: relative;
      border: none !important;
      margin-top: 3px !important; }
    .lk-posik .w-col-3 label:hover {
      background: none !important; }
    .lk-posik .w-col-3 label:before {
      position: absolute;
      content: "";
      width: 22px;
      height: 17px;
      background: url(../img/finger.png) no-repeat top center;
      top: 15px;
      left: 45px; }

.zv {
  padding-left: 20px;
  font-family: 'Open Sans' , arial;
  font-size: 16px;
  text-align: left;
  margin-bottom: 30px; }

h5 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'Open Sans Bold' , arial;
  text-align: left;
  text-transform: uppercase;
  padding-left: 35px; }

.titled {
  font-size: 18px;
  color: #000;
  font-family: 'Open Sans Bold' , arial;
  text-align: right; }

#tab_c3 input {
  position: static !important; }
#tab_c3 input[type="text"] {
  display: inline-block !important;
  width: 100%;
  /* max-width: 269px; */
  height: 34px;
  background: none;
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 0px 12px;
  margin: 0 auto;
  margin-bottom: 14px; }
#tab_c3 .inpaddress {
  width: 100%;
  max-width: 100% !important; }
#tab_c3 input[type="submit"] {
  display: inline-block !important;
  width: 109px;
  height: 32px;
  background: none;
  border: 1px solid #cb828a;
  border-radius: 5px;
  padding: 0px 12px;
  color: #cb828a;
  margin: 0 auto;
  margin-bottom: 14px;
  font-size: 11px;
  font-family: 'Open Sans Bold' , arial;
  text-transform: uppercase;
  margin-left: 5px; }

.lk-data-submit {
  text-align: left; }

.mainpage {
  width: 100%;
  min-height: 1000px;
  background: url(../img/main.jpg) top center no-repeat; }

.main-cols {
  text-align: center;
  margin-top: 370px; }
  .main-cols .img-box {
    display: block;
    width: 100%; }
    .main-cols .img-box img {
      display: inline-block; }
  .main-cols .desc {
    font-family: 'Open Sans' , arial;
    font-size: 16px;
    line-height: 22px;
    margin-top: 25px; }
    .main-cols .desc a {
      text-decoration: underline;
      color: #000; }
  .main-cols .button2 {
    margin-top: 56px; }

.mcl {
  margin-bottom: 25px; }

.button2 {
  display: inline-block;
  height: 68px;
  line-height: 68px;
  padding: 0px 25px;
  background: #ad172b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffbe !important;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 20px;
  font-family: 'Open Sans Bold' , arial; }
  .button2 span {
    height: 68px;
    display: inline-block;
    position: relative;
    margin-left: 30px; }
  .button2 span:before {
    position: absolute;
    content: "";
    width: 29px;
    height: 23px;
    background: url(../img/ruka.png) top center no-repeat;
    margin-left: -35px;
    top: 22px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .mainpage {
    width: 100%;
    min-height: 1000px;
    background: url(../img/main.jpg) top center no-repeat;
    background-size: cover; }

  .footer-info {
    padding-top: 10px;
    border-left: 0px solid #ba3f4c;
    padding-left: 0px;
    box-sizing: border-box; }

  .logo-box {
    left: 150px;
    top: 5px;
    margin-top: 0px; }
    .logo-box img {
      display: block;
      width: 50%;
      height: auto; }

  .main-menu {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 25px; }
    .main-menu li {
      display: block;
      width: 100%;
      text-align: center;
      height: 40px;
      line-height: 40px; }
      .main-menu li a {
        text-decoration: none;
        text-transform: uppercase; }
      .main-menu li a:hover {
        color: #fff; }
    .main-menu li:hover {
      background: #801120; }

  .hz-clock {
    background: url(../img/watch_ico.png) top center no-repeat;
    text-align: center !important;
    padding: 0px;
    padding-top: 50px;
    margin-bottom: 30px; }

  .hz-tel {
    background: url(../img/tel_ico.png) top center no-repeat;
    text-align: center !important;
    padding: 0px;
    padding-top: 50px; }

  .hz-top-form {
    padding: 0px;
    width: 100%; }
    .hz-top-form input {
      display: block;
      margin: 0 auto; }
    .hz-top-form input[type="text"] {
      margin-bottom: 10px; }

  .hz-top-form__links {
    display: block;
    text-align: center !important;
    margin: 0 auto;
    margin-top: 15px !important; }

  .hz-top-form__links:before {
    background: none !important;
    height: 0px;
    width: 0; }

  .fcol {
    width: 100%;
    display: block !important;
    margin: 0 auto; }

  .faq-answer {
    margin-bottom: 20px; }

  .faq-answer:after {
    background: none !important;
    width: 0px !important;
    height: 0px !important; }

  .faq-question {
    margin-bottom: 35px; }

  form {
    display: block !important;
    text-align: center; }
    form div[class^="w-col"] {
      display: block !important;
      margin: 0 auto !important;
      margin-bottom: 15px !important; }

  .lk-posik div {
    display: block !important; }
  .lk-posik form {
    display: block !important; }
  .lk-posik .w-col-1, .lk-posik .w-col-2, .lk-posik .w-col-3 {
    width: 100% !important; }
  .lk-posik label {
    display: block !important;
    width: 100%;
    margin: 0 !important;
    margin: 0 auto; }
  .lk-posik input {
    display: block;
    max-width: 250px;
    margin: 0 auto; }
  .lk-posik input[type="text"] {
    width: 100% !important;
    margin: 0 auto !important; }
  .lk-posik .w-col-2 {
    width: 100% !important; }

  .titled {
    text-align: center;
    margin-bottom: 15px; }

  .lk-data-submit {
    text-align: center; } }
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .hz-top-form {
    width: 450px; }

  .f-col-1 {
    width: 295px;
    box-sizing: border-box; }

  .f-col-2 {
    width: 92px;
    box-sizing: border-box; }
    .f-col-2 input {
      margin-left: 10px; }

  .f-col-3 {
    box-sizing: border-box; }
    .f-col-3 .hz-top-form__links {
      padding-left: 25px; } }
/* Large Devices, Wide Screens */
/***************/

/*# sourceMappingURL=style.css.map */