.rules-item {
  text-align: center; }

.rules-item-img {
  position: relative; }

.rules-item-imgarrow1 {
  position: absolute;
  top: 0;
  right: -27px; }

.rules-item-imgarrow2 {
  position: absolute;
  top: 0;
  right: -15px; }

.ah-rules-wrapper {
  padding: 0 26px;
  padding-top: 25px; }

.ah-rules-wrapper1 {
  height: 55px; }

.rules-item-text {
  display: inline-block;
  font-family: "OpenSans-Regular";
  color: #000;
  font-size: 16px;
  line-height: 22px; }

.ah-strong {
  font-family: "OpenSans-Bold"; }

.rules-item-span {
  display: block;
  font-size: 12px;
  line-height: 18px;
  font-family: "OpenSans-Italic";
  color: #970615;
  margin-top: 11px;
  margin-bottom: 56px; }

.rules-item-link {
  display: block;
  width: 169px;
  height: 36px;
  border: 2px solid #e11f33;
  border-radius: 4px;
  font-family: "OpenSans-Bold";
  color: #e22033;
  font-size: 11px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 52px; }

.rules-item-img1 {
  margin-top: 30px; }

.rules-item-img2 {
  margin-top: 17px;
  margin-bottom: 42px; }

.rules-item-link1 {
  display: block;
  width: 372px;
  height: 70px;
  border: 2px solid #970615;
  border-radius: 4px;
  font-family: "OpenSans-Bold";
  color: #970615;
  font-size: 20px;
  line-height: 67px;
  text-transform: uppercase;
  text-align: center;
  background: url(../img/ah-finger.png) calc(50% - 162px) center no-repeat; }

.rules-item-img3 {
  margin-top: 15px; }

.ah-11111 {
  padding: 100px;
  background: red; }

.ah-border {
  border-radius: 37px;
  border: 12px solid rgba(255, 255, 255, 0.4);
  width: 569px;
  background: transparent;
  box-shadow: 10px 17.3px 30px rgba(0, 0, 0, 0.5); }

.ah-common-form {
  width: 100%;
  height: 840px;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden; }
  .ah-common-form input[type=text] {
    display: block;
    width: 221px;
    height: 36px;
    border: 1px solid #979797;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 1, 1, 0.15);
    font-family: "OpenSans-Regular";
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 13px;
    padding-left: 11px; }
  .ah-common-form input[type="month"] {
    display: block;
    width: 221px;
    height: 36px;
    border: 1px solid #979797;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 1, 1, 0.15);
    font-family: "OpenSans-Regular";
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 13px;
    padding-left: 11px; }
  .ah-common-form input[type="mail"] {
    display: block;
    width: 221px;
    height: 36px;
    border: 1px solid #979797;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 1, 1, 0.15);
    font-family: "OpenSans-Regular";
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 13px;
    padding-left: 11px; }
  .ah-common-form input.ah-adres {
    display: block;
    width: 471px !important;
    height: 36px;
    border: 1px solid #979797;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 1, 1, 0.15);
    color: rgba(0, 0, 0, 0.7);
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 13px;
    padding-left: 11px; }
  .ah-common-form select {
    display: block;
    width: 221px;
    height: 36px;
    border: 1px solid #979797;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 1, 1, 0.15);
    color: rgba(0, 0, 0, 0.7);
    font-family: "OpenSans-Regular";
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 13px;
    padding-left: 11px; }
  .ah-common-form label {
    color: #000;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em; }

.no-gutter div[class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.ah-form-title {
  display: block;
  color: #fff;
  font-family: "OpenSans-Bold";
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  width: 100%;
  height: 78px;
  background: url(../img/header_bg.png);
  padding-top: 34px;
  padding-left: 50px; }

.ah-form-subtitle {
  display: block;
  color: #970615;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 13px; }

.ah-form-sub1 {
  margin-top: 16px;
  margin-bottom: 12px; }

.ah-form-sub2 {
  margin-bottom: 20px !important; }

.ah-title-block {
  padding: 21px 50px; }

.ah-winpad {
  margin-left: 13px; }

/***************/

/*# sourceMappingURL=style2.css.map */
